/logs/*/
/notebooks/.ipynb_checkpoints/
/.idea
**/__pycache__/
/OLD/
/assets/
/src/train.log
/src/notebooks/
/src/eval.log
*.log
/data/physionet_2012/class_weight.pt
/data/physionet_2012/60_aggregation_data/demographics.csv
/data/physionet_2012/Outcomes-*.txt
/data/physionet_2012/set-*.tar/
/data/physionet_2012/set-*.tar.gz
/data/physionet_2012/*_aggregation_data/*
/data/mimic3_in_hospital_mortality/*_aggregation_data/
/data/mimic3_in_hospital_mortality/test/
/data/mimic3_in_hospital_mortality/train/
/data/mimic3_in_hospital_mortality/class_weight.pt
/data/mimic3_in_hospital_mortality/data.csv
/data/mimic3_in_hospital_mortality/mimic_benchmarking_mortality.tar
/data/mimic3_in_hospital_mortality/mimic_benchmarking_mortality.tar.gz
/data/HMNIST/*
/data/tsc/*

